body {
	font-family: 'Lato', sans-serif;
	color: #037C98;
	font-weight: 300;
}

hr {
	height: 1px;
	color: #BCBBBB;
	background-color: #BCBBBB;
}

.text-mystyle {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 30px;
}

h1 {
    text-align: center;
}

.text-muted {
	color: #BCBBBB;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}

.title-lesssuper {
	font-size: 30px;
}

.title-logo {
	margin-top: 20px;
}

#first {
	width:200px;
	height:200px;
	background: #037C98;
}

#second {
	width:200px;
	height:200px;
	background: #E3FF00;
}

#third {
	width:200px;
	height:200px;
	background: #13FF00;
}

.surprise, .surprise2 {
    border-radius: 50%;
    display: inline-block;
}

#firstSmall {
    width:100px;
	height:100px;
	background: #037C98;
	margin-top: 20px;
}

#secondSmall {
	width:100px;
	height:100px;
	background: #E3FF00;
	margin-top: 20px;
}

#thirdSmall {
	width:100px;
	height:100px;
	background: #13FF00;
	margin-top: 20px;
}

