body {
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 300;
}

hr {
	height: 1px;
	color: #BCBBBB;
	background-color: #BCBBBB;
}

.text-mystyle {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 30px;
}

.text-muted {
	color: #BCBBBB;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}

.title-lesssuper {
	font-size: 30px;
}

.title-logo {
	margin-top: 20px;
}

